.App {
  text-align: center;
  align-items: center;
  margin: 0px auto;
  
  }
  .default-logo-container {
    text-align: center;
    align-items: center;
  }
  .default-logo {
    margin-top: 44px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #87547A;
  }
  
  .default-logo-text {
    font-family: 'Marck script';
    font-style: normal;
    font-size: 36px;
    padding: 45px 19px  44px 18px;
    color: #87547A
  }
  
  
  .header-block{
    height: 100;
    text-align: start;
  }

  .header{
    display: flex;
    max-width: 1441px;
    height: 859px;
    margin: 0 auto;
    background: url('../../assets/img/header_woman.png') no-repeat center top / cover; 

  }

  .header-block-text {
    display: flex;
    width: 515px;
    height: 324px;
    margin-left: 110px;
    margin-top: 79px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 108px;
    color:#87547A;
  }

  .button-info-more {
    justify-content: center;
    padding: 15px 78.5px;
    position: absolute;
    width: 393px;
    height: 70px;
    margin-left: 100px;
    margin-top: 155px;
    background-color: #87547A;
    border-radius: 40px;
    font: bold 36px Arial;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    color: white;
    z-index: 2;
  }

  .button-info-more:hover {
    background: #B56DA2;
  }

  .button-info-more:active {
    background: #57284B;
  }

  .button-sign-up {
    margin: 0px auto;
    padding: 15px 103px;
    width: 388px;
    height: 70px;
    background-color: #87547A;
    border-radius: 40px;
    font: bold 36px Arial;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    color: white;
  }

  .button-sign-up:hover {
    background: #B56DA2;
  }

  .button-sign-up:active {
    background: #57284B;
  }

  .button-sign-up-block-1 {
    margin-top: 140px;
  }

  .button-sign-up-block-2 {
    margin-top: 53px;
    margin-left: -130px;
  }

  .button-sign-up-block-3 {
    margin-top: 89px;
    margin-left: 120px;
  }

  .button-sign-up-block-4 {
    margin-top: 84px;
    margin-left: -100px;
  }

  .button-info-more-naked {
    width: 200px;
    height: 33px;
    font: bold 24px Arial;
    font-family: 'Open Sans';  
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: black;
  }

  .button-info-more-block-2 {
    margin-left: -120px;
    margin-top: 20px;
  }

  .button-info-more-block-3 {
    margin-left: 130px;
    margin-top: 20px;
  }

  .button-info-more-block-4 {
    margin-left: -90px;
    margin-top: 20px;
  }


  .vector1 {
    margin-top: 14px;
    max-width: 100%;
    height: 264px;
    background: url('../../assets/svg/vectors/header_vector.svg') no-repeat center top / cover;
    z-index: 1;
  }
  
  .gradient {
    margin-top: -40px;
    max-width: 100%;
    height: 186px;
    background: url('../../assets/svg/vectors/header_gradient.svg') no-repeat center top / cover;
    z-index: 1;
  }
  .header-block2{
    position: relative;
    height: 100;
    text-align: start;
  }
  .header-block-text2 {
    text-align: center;
    align-items: center;
    margin: 0px auto;
    width: 655px;
    height: 72px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: black;
    z-index: 3;
  }
  .wrapper-hair-tools {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .hair-tools {
    width: 605px;
    height: 403px;
    margin-top: 91px;
    background: url(../../assets/jpg/about-us-photo.jpg) no-repeat center top / cover;
    z-index: 2;
  }

  .hair-tools-text {
    text-align: left;
    width: 499px;
    height: 403px;
    margin-top: 86px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: black;
  }
  .line4 {
    position: absolute;
    width: 500px;
    height: 87px;
    top: 140px;
    left: 86px;
    background: url(../../assets/svg/lines/Line-4.svg) no-repeat center top / cover;
    z-index: 1;
  }
  
  .line5 {
    position: absolute;
    width: 505px;
    height: 88px;
    top: 503px;
    left: 244px;
    background: url(../../assets/svg/lines/Line-5.svg) no-repeat center top / cover;
    z-index: 1;
  }

  .wrapper-header-block3 {
    text-align: center;
    align-items: center;
    margin: 0px auto;
  }

  .header-block-text3 {
    margin: 0px auto;
    width: 750px;
    height: 72px;
    margin-top: 132px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 71px;
    color: black;
  }
  
  .man-haircuts {
    margin: 0px auto;
    margin-top: 44px;
    width: 816px;
    height: 237px;
    background: url(../../assets/img/man-haircuts-photo.png) no-repeat center top / cover;
    border-radius: 20px;
  }

  .man-haircuts-text {
    width: 388px;
    height: 54px;
    padding-top: 92px;
    margin-left: 214px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    color: black;
  }

  .woman-haircuts {
    margin: 0px auto;
    width: 816px;
    height: 237px;
    margin-top: 44px;
    background: url(../../assets/img/woman-haircuts-photo.png) no-repeat center top / cover;
    border-radius: 20px;
    
  }

  .woman-haircuts-text {
    width: 384px;
    height: 54px;
    padding-top: 92px;
    margin-left: 214px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    color: black;
  }

  .manicure {
    position: relative;
    margin: 0px auto;
    width: 816px;
    height: 237px;
    margin-top: 44px;
    background: url(../../assets/img/manicure-photo.png) no-repeat center top / cover;
    border-radius: 20px;
    z-index: 3;
  }
  
  .manicure-text {
    position: absolute;
    width: 200px;
    height: 54px;
    padding-top: 91px;
    margin-left: 308px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    color: black;
  }



  .vector2 {
    max-width: 100%;
    height: 264px;
    margin-top: -350px;
    background: url('../../assets/svg/vectors/Vector-2.svg') no-repeat center top / cover;
    z-index: 2;
  }
  
  .gradient2 {
    margin-top: -15px;
    max-width: 100%;
    height: 311px;
    background: url('../../assets/svg/vectors/Gradient-2.svg') no-repeat center top / cover;
  }
  
  .wrapper-header-block4 {
    text-align: center;
    align-items: center;
    margin: 0px auto; 
  }
  .header-block-text4 {
    margin: 0px auto;
    width: 597px;
    height: 108px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 108px;
  }

  .hair-scissors {
    max-width: 1441px;
    height: 350px;
    margin-top: -110px;
    background: url(../../assets/img/about-salons-photo.png) no-repeat center top / cover;
    z-index: 1;
  }

   .vector3 {
    position: absolute;
    margin-top: -194px;
    width: 1441px;
    height: 500px;
    background: url(../../assets/svg/vectors/Vector-3.svg) no-repeat center top / cover;
  }

   .gradient3 {
    position: absolute;
    width: 1441px;
    height: 2300px;
    background: url(../../assets/svg/vectors/Gradient-3.svg) no-repeat center top / cover;
  } 
  
  .wrapper-salon-1 {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .wrapper-wrapper-salon-1 {
    padding-right: 200px;
  }

  .photo-salon-1 {
    width: 499px;
    height: 541px;
    border-radius: 20px;
    background: url(../../assets/img/photo-salon-1.png) no-repeat center top / cover;
  }

  .address-salon-1 {
    margin-left: -25px;
    width: 338px;
    height: 80px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: black;
  }

  .text-salon-1 {
    width: 287px;
    height: 200px;
    margin-top: 62px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: white;
    
  }

  

  .button-sign-up-1 {
    margin-left: -130px;
    margin-top: 53px;  
  }

  .button-sign-up-one {
    padding: 15px 103px;
    width: 388px;
    height: 70px;
    background-color: #87547A;
    border-radius: 40px;

    font: bold 36px Arial;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    color: white;
  }

  .button-info-more-1 {
    margin-left: 55px;
    margin-top: 20px;
    width: 200px;
    height: 33px;
    font: bold 24px Arial;
    font-family: 'Open Sans';  
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: black;
  }

  .vector-salon-1 {
    margin-top: -400px;
    margin-left: -65px;
    display: flex;
    width: 501px;
    height: 253px;
    background: url(../../assets/svg/vectors/Vector-salon-1.svg) no-repeat center top / cover;
  }

  .line8 {
    align-items: center;
    position: relative;
    margin: 0px auto;
    margin-top: 45px;
    width: 816px;
    border: 6px solid #87547A;
    background: url(../../assets/svg/lines/Line-8.svg) no-repeat center top / cover;
  }

  .wrapper-salon-2 {
    margin-top: 44px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    
  }
  
  .wrapper-wrapper-salon-2 {
    padding-left: 100px;   
  } 

  .photo-salon-2 {
    margin-right: 50px;
    width: 499px;
    height: 541px;
    border-radius: 20px;
    background: url(../../assets/img/photo-salon-2.png) no-repeat center top / cover;
  }

  .address-salon-2 {
    margin-left: 200px;
    width: 375px;
    height: 40px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: black;
  }

  .text-salon-2 {
    margin-left: 200px;
    width: 359px;
    height: 120px;
    margin-top: 165px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: white;
  }

  .button-sign-up-2 {
    margin-left: 120px;
    margin-top: 89px;
    
  }

  .button-sign-up-two {
    padding: 15px 103px;
    width: 388px;
    height: 70px;
    background-color: #87547A;
    border-radius: 40px;

    font: bold 36px Arial;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    color: white;
  }

  

  .button-info-more-2 {
    margin-left: 270px;
    margin-top: 20px;
    width: 200px;
    height: 33px;
    font: bold 24px Arial;
    font-family: 'Open Sans';  
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: black;
  }

  .vector-salon-2 {
    margin-top: -385px;
    margin-left: 110px;
    display: flex;
    width: 501px;
    height: 253px;
    background: url(../../assets/svg/vectors/Vector-salon-2.svg) no-repeat center top / cover;
  }

  .line9 {
    align-items: center;
    position: relative;
    margin: 0px auto;
    margin-top: 45px;
    width: 816px;
    border: 6px solid #87547A;
    background: url(../../assets/svg/lines/Line-9.svg) no-repeat center top / cover;
  }

  .wrapper-salon-3 {
    margin-top: 44px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .wrapper-wrapper-salon-3 {
    padding-right: 200px;
  }

  .photo-salon-3 {
    width: 499px;
    height: 541px;
    border-radius: 20px;
    background: url(../../assets/img/photo-salon-3.png) no-repeat center top / cover;
  }

  .address-salon-3 {
    margin-left: -20px;
    width: 361px;
    height: 40px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: black;
  }

  .text-salon-3 {
    margin-left: 80px;
    width: 200px;
    height: 120px;
    margin-top: 175px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: white;
  }

  .button-sign-up-3 {
    margin-left: -100px;
    margin-top: 84px;
    
  }
  .button-sign-up-three {
    padding: 15px 103px;
    width: 388px;
    height: 70px;
    background-color: #87547A;
    border-radius: 40px;

    font: bold 36px Arial;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    color: white;
  }

  .button-info-more-3 {
    margin-left: 70px;
    margin-top: 20px;
    width: 200px;
    height: 33px;
    font: bold 24px Arial;
    font-family: 'Open Sans';  
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: black;
  }

  .vector-salon-3 {
    margin-top: -400px;
    margin-left: -65px;
    display: flex;
    width: 501px;
    height: 253px;
    background: url(../../assets/svg/vectors/Vector-salon-3.svg) no-repeat center top / cover;
  }

  .wrapper-futor {
    display: flex;
  }

  .photo-futor {
    margin-top: 99px;
    width: 1441px;
    height: 193px;
    background: url(../../assets/img/photo-futor.png) no-repeat center top/ cover;
  }

  .logo-futor {
    margin-top: -20px;
    position: relative;
  }

  .wrapper-contacts {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-right: 300px;
    margin-top: 30px;
  }
  
  .contact-us {
    margin-left: 200px;
    width: 329px;
    height: 80px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #87547A;
  }

  .contacts {
    
    width: 157px;
    height: 40px;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #87547A;
  }

  .wrapper-social {
    display: flex;
    justify-content: end;
    align-items: end;

  }


  .numbers {
    margin-top: 24px;
    width: 165px;
    height: 66px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: black;
  }
  .vk {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 27px;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #87547A;
  }

  .vk-logo {
    max-width: 29px;
    height: 16px;
  }
  
  .inst { 
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 27px;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #87547A;
  }
  
  .inst-logo { 
    max-width: 24px;
    height: 24px;
  }

  .whp {
    display: flex;
    margin-right: 27px;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #87547A;
  }

  .whp-logo {
    margin-top: 11.09px;
    margin-left: 12px;
    position: absolute;
    max-width: 24px;
    height: 24px;
  }

  .whp-logo-2 {
    margin-top: 17.6px;
    margin-left: 18.35px;
    max-width: 11.5px;
    height: 10.5px;
  }



  .tg {
    display: flex;
    margin-right: 27px;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #87547A;
  }
  
  .tg-logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 12px;
    max-width: 22.08px;
    height: 18.74px;
  }
  .wrapper-ellipse-block-1 {
    position: absolute;
    margin-top: 18px;
    margin-left: 1128.5px;
  }
  .wrapper-ellipse-block-2 {
    position: absolute;
    margin-top: 18px;
    margin-left: 286px;
    
  }
  .ellipse-1 {
    margin-left: 114px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 1.svg) no-repeat center top / cover;
  }

  .ellipse-2 {
    margin-top: -26px;
    margin-left: 76px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 2.svg) no-repeat center top / cover;
  }

  .ellipse-3 {
    margin-left: 38px;
    margin-top: -26px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 3.svg) no-repeat center top / cover;
  }

  .ellipse-4 {
    margin-top: -26px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 4.svg) no-repeat center top / cover;
  }

  .ellipse-5 {
    margin-top: 12px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 5.svg) no-repeat center top / cover;
  }

  .ellipse-6 {
    margin-top: 12px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 6.svg) no-repeat center top / cover;
  }

  .ellipse-7 {
    margin-top: 12px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 7.svg) no-repeat center top / cover;
  }

  .wrapper-ellipse-block-3 {
    position: absolute;
    margin-top: 18px;
    margin-left: 1128.5px;

  }
  .ellipse-8 {
    margin-left: -114px;
    
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 8.svg) no-repeat center top / cover;
  }

  .ellipse-9 {
    
    margin-left: -76px;
    margin-top: -26px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 9.svg) no-repeat center top / cover;
  }

  .ellipse-10 {
    margin-left: -38px;
    margin-top: -26px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 10.svg) no-repeat center top / cover;
  }

  .ellipse-11 {
    margin-top: -26px;
    width: 26px;
    height: 26px;
    background: url(../../assets/svg/background_circles/Ellipse\ 11.svg) no-repeat center top / cover;
  }


  